* {
  font-family: Georgia, serif;
}

body {
  background-color: #d9d9d9;
}

.about-me {
  margin-left: 80px;
}

.bio {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: -6px;
}

h1 {
  margin-left: 80px;
  margin-right: 80px;
  color: #523960;
  margin-top: 10px;
}

h2 {
  margin-left: 80px;
  margin-right: 80px;
}

h3 {
  margin-left: 80px;
  margin-right: 80px;
  color: #523960;
}

.fun-facts {
  margin-left: 80px;
  margin-right: 80px;
}

.timeline {
  margin-left: 105px;
  border-left: 3px solid #523960;
  height: 130px;
}

.event {
  margin-left: 10px;
}
